.App {
  text-align: center;
}

.display-3 {
  font-family: "Bebas Neue";
}

.lead {
  font-family: "Marck Script", cursive;
  font-size: large;
}

.navbar {
  font-family: "Bebas Neue" !important;
  background-color: #f5cf1f !important;
  color: #fff !important;
}

.sub-lead {
  font-family: "Odibee Sans", cursive;
}

.image {
  height: 300px !important;
  width: auto !important;
}

.jumbo-man {
  color: white !important;
  font-family: "Bebas Neue" !important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255 255 255) !important;
}

.navbar-brand {
  font-size: 31px !important;
  color: #fff !important;
}

.branding {
  color: green;
}

.jumbotron {
  color: #fff !important;
  background-color: #f5cf1f !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #479f18 !important;
  border-color: #ffffff !important;
}

.d-block {
  height: 400px;
  width: auto;
}

.heading {
  font-family: "Odibee Sans";
  font-size: 42px;
}
